.navBar {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding-right: 6vw;
    font-family: 'Caveat', cursive;
    font-size: 1.8em;
    position: fixed;
    border-radius: 20px;
    z-index: 1;
}

.navBar nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 75%;
    justify-content: flex-end;
    padding: .5rem;
}

.navBar ul {
    padding: .3rem;
    display: flex;
    gap: 6vw;
    justify-content: space-between;
    align-items: center;
}

.glass {
    background-color: #fffaf63a;
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

.navBar nav div {
    min-height: 5rem;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    overflow: hidden;
    margin: .3rem;
}

.navBar nav div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navBar ul li {
    border-radius: 20px;
    padding: 1rem;
}

.navBar ul li:hover {
    transition: all 2s;
    background-color: #ffee001f;
    backdrop-filter: blur(5px);
    box-shadow: rgba(6, 10, 9, 0.877) 1px 3px 5px;
    text-shadow: rgba(6, 10, 9, 0.877) 1px 3px 5px;
}

.navBar div a img {
    width: 3rem;
    transition: .5s;
}

.navBar div:hover {
    transform: scale(.8);
    transform: rotate(360deg);
    transition: .5s;
}

.navBar div a::after {
    position: absolute;
    top: 2.5rem;
    font-size: 1.3rem;
    text-shadow: blueviolet 5px 1px 4px;
    transition: all 1s;
    content: 'Admin';
    opacity: 0;
}

.navBar div:hover~.navBar div a:after {
    opacity: 1;
}

.signin-modal-iniciar,
.signin-modal-cerrar {
    position: absolute;
    transition: all 1s;
    right: 2rem;
    top: 7rem;
    width: 8rem;
    height: 5rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    justify-content: center;
    align-items: center;
}
.signin-modal-cerrar{
    flex-direction: column;
}

.signin-modal-iniciar {
    top: 6rem;
}

.signin-modal-iniciar a,
.signin-modal-cerrar button,
.signin-modal-cerrar a {
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: caveat;
}

.signin-modal-cerrar a{
    border-bottom: gray solid 1px;
}


@media screen and (max-width: 1165px) {
    .navBar nav {
        display: none;
    }

}