@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.deco2 {
    position: absolute;
    top: -2rem;
    left: -2rem;
    transform: scale(1.3);
}

.deco3 {
    position: absolute;
    bottom: -5rem;
    right: 1rem;
    transform: scale(1.3);
}

.introContainer {
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/fondo.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    overflow: hidden;
    position: relative;
}

.introContainer h1 {
    font-family: 'Caveat';
    font-size: 4rem;
}

.introContainer h4 {
    font-size: 1rem;
}

.introContainer h1,
.introContainer h4 {
    animation: landing 5s ease-in-out;
    z-index: 100;
}

.introContainer p::after {
    font-size: .8rem;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    bottom: 2rem;
    left: 50vw;
    opacity: .6;
    animation: countdown 5s;
    content: 'Ingresando... ';
}

@keyframes landing {
    0% {
        transform: scale(.5);
    }

    50% {
        transform: scale(1.8);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes countdown {
    10% {
        content: '';
    }

    20% {
        content: 'Ingresando en 5s..';
    }

    30% {
        content: '';
    }

    40% {
        content: 'Ingresando en 4s..';
    }

    50% {
        content: '';
    }

    60% {
        content: 'Ingresando en 3s..';
    }

    70% {
        content: '';
    }

    80% {
        content: 'Ingresando en 2s..';
    }

    90% {
        content: '';
    }

    100% {
        content: 'Ingresando en 1s..';
    }
}

@media screen and (max-width:540px) {
    .introContainer {
        background-size: auto;
        background-position: center;
        font-size: 5px;
    }

    .introContainer p::after {
        left: 10vw;
    }

    .introContainer h1 {
        font-size: 2.3rem;
    }

}