@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.deco1 {
    width: 25rem;
    height: 22rem;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    margin-top: -6rem;
    margin-left: -10rem;
}

.deco4 {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
}

main {
    width: 100%;
    min-height: 100vh;
    padding-top: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sectionName {
    position: absolute;
    top: 13vh;
    left: 1rem;
    font-family: 'Caveat', cursive;
    font-size: 4rem;
}


@media screen and (min-width: 1200px) {
    .deco1 {
        width: 35rem;
        height: 30rem;
        margin-top: -10rem;
        margin-left: -10rem;
    }

    .sectionName {
        top: 15vh;
        left: 2rem;
    }
}


/* 
.deco1 {
    width: 35rem;
    height: 30rem;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    margin-top: -10rem;
    margin-left: -10rem;
}

main {
    width: 100vw;
    min-height: 100vh;
    padding: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sectionName {
    position: absolute;
    top: 15vh;
    left: 2rem;
    font-family: 'Caveat', cursive;
    font-size: 4rem;
}
 */