.trabajos {
    width: 70vw;
}

.gridContainer ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    gap: 1rem;
}

.gridContainer ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, .1);
    border-radius: 20px;
    background: #111;
    color: #fff;
    padding: 1rem;
}

.gridContainer ul li a:hover {
    transition: all 2s;
    transform: scale(1.1);
    filter: blur(2px);
}
.gridContainer ul li a img{
    object-fit: contain;
    width: 100%;
    
}